.ert-label {
    white-space: nowrap;
}
.ert-plot-options {
    height: 84px !important;
}
.ert-parameter-selector-container-hide {
    display: none;
}
.ert-parameter-selector-container-show {
    display: block;
}
.ert-parameter-label-checkbox {
    display: block;
}
