.ert-dropdown-container {
    display: table;
}
.ert-button {
    display: table-cell;
    padding-left: 1mm;
}

.ert-dropdown {
    display: table-cell;
    min-width: 3in;
    padding-left: 1mm;

}
.ert-label{
    display: table-cell;
    padding-left: 1mm;
}

.ert-ensemble-selector {
    height: 200px !important;
    border-color: rgba(181, 223, 223, 0.5);
    border-style: solid;
    border-width: 5px;
    flex: 1;
}
.ert-ensemble-selector-container {
    display: flex;
    flex-direction: initial;
    width: 100%
}
.ert-graph-container {
    display: table;
    table-layout: auto;
}

.ert-graph-options {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    height: 5in;
    width: fit-content;
}
.ert-graph {
    display: table-cell;
    vertical-align: middle;
    height: 5in;
    width: 100%;
}
.ert-graph-multi{
    width: 50% ;
    float: left;
}
