.ert-label {
    white-space: nowrap;
}
.ert-plot-options {
    height: 84px !important;
}
.ert-ensemble-selector-small {
    height: 240px !important;
    width: 240px !important;
    border-color: rgba(181, 223, 223, 0.5);
    border-style: solid;
    border-width: 5px;
    flex: 1;
}
.ert-ensemble-selector-large {
    height: 600px !important;
    width: 100px !important;
    border-color: rgba(181, 223, 223, 0.5);
    border-style: solid;
    border-width: 5px;
    flex: 1;
}
.ert-ensemble-selector-container-small {
    display: block;
    position: fixed;
    bottom: 30px;
    z-index: 999;
    left: 30px;
}
.ert-ensemble-selector-container-large {
    display: flex;
	flex-direction: initial;
	width: 100%;
}
.ert-ensemble-selector-view-toggle {
    display: block;
    position: relative;
    width: 250px;
}
