name: Python

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Install
      run: |
        pip install .
        pip install -r test_requirements.txt
    - name: Test with mypy typing
      run: |
        mypy --config-file mypy.ini --package webviz_ert
    - name: Test with pytest
      run: |
        pytest

    - name: Run black
      uses: psf/black@stable
